/* You can add global styles to this file, and also import other style files */

:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/logo-light.jpg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root .lpx-theme-semi-dark {
  --lpx-logo: url('/assets/images/logo/logo-dark.jpg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/logo-dark.jpg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}
// :root{
//   --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
//   --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
//   --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');
// }
:root{
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.jpg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.jpg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.jpg');
}


:root .table thead th {
  font-weight: 400;
  color: rgba(50, 81, 104, 0.77);
  transition: color 0.3s;
  text-transform: none !important;
  font-size: 0.75em;
  letter-spacing: 0.75px;
}

:root .ngx-datatable.material .datatable-header .datatable-header-cell {
  // background-color: var(--lpx-card-bg);
  // padding-left: 1rem !important;
  // padding-right: 1rem !important;
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
  // font-weight: 400 !important;
  // color: rgba(var(--lpx-content-text-rgb), 0.65);
  // transition: color 0.3s;
  text-transform: none !important;
  // font-size: 0.75em !important;
  // letter-spacing: 0.75px;
}


:root .border-left{
  border-left: 1px solid rgb(232, 238, 243); /* 浅灰色边框 */
  //padding-top: 10px; /* 内边距，可根据需要调整 */
  //padding-bottom: 10px; /* 内边距，可根据需要调整 */
  padding: 10px; /* 内边距，可根据需要调整 */
  //margin: 10px; /* 外边距，可根据需要调整 */
  //border-radius: 5px; /* 圆角边框，可根据需要调整 */
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 可选的阴影效果 */
}