<!-- Search box -->
<div class="card">
  <div class="card-body">
    <div class="row" style="margin-top:15px;">
      <div class="col col-md-11">
        <div class="card flex justify-content-center">
          <input class="form-control" list="platelistOptions" id="plateDataList" placeholder="plate search..."
            [(ngModel)]="selectedPlate" />
          <datalist id="platelistOptions">
            <option *ngFor="let plate of plates" [value]="plate.label"></option>
          </datalist>
        </div>
      </div>

      <!-- <div class="col col-md-1">
      </div> -->
      <div class="col col-md-1">
        <!-- <p-button label="Search" (click)="searchPlateDetails($event)"></p-button> -->
        <button type="button" class="btn btn-outline-primary mb-1" (click)="searchPlateDetails($event)">Search</button>
      </div>

    </div>
  </div>
</div>








<!-- Chart and Table -->
<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col com-md-4">
        <div class="layout-chart">
          <div id="result-map-chart-FAM" class="result-chart-body"></div>
        </div>
      </div>
      <div class="col com-md-4">
        <div class="layout-chart">
          <div id="result-map-chart-HEX" class="result-chart-body"></div>
        </div>
      </div>
      <div class="col com-md-4">
        <div class="layout-chart">
          <div id="result-map-chart-ROX" class="result-chart-body"></div>
        </div>
      </div>
      <div class="col com-md-4">
        <div class="layout-chart">
          <div id="ic-50-chart" class="ic50-chart-body"></div>
        </div>

      </div>
      
    </div>

  </div>
</div>



<!-- Scatter plot -->
<div class="card">
  <div class="card-body">

    <div class="row" style="margin-top:15px;">
      <div class="col col-md-11">
        <div class="card flex justify-content-center">
          <input class="form-control" list="algorithmlistOptions" id="algorithmDataList" placeholder="algorithm search..."
            [(ngModel)]="selectedAlgorithm" />
          <datalist id="algorithmlistOptions">
            <option *ngFor="let algorithm of algorithms" [value]="algorithm.label"></option>
          </datalist>
        </div>
      </div>
      <div class="col col-md-1">
        <button type="button" class="btn btn-outline-primary mb-1" (click)="generateClusterChart($event)">Generate</button>
      </div>
      <!-- <div class="col col-md-1">
        <button type="button" class="btn btn-outline-primary mb-1" (click)="changeCluster($event)">Export</button>
      </div> -->
    </div>
    
    <div class="row">
      <div class="col com-md-9">
        <div class="layout-chart">
          <div id="result-cluster-chart" class="result-cluster-body"></div>
        </div>
      </div>
      <div class="col com-md-3">
        <p class="form-label" style="padding-top: 20px;">Set cluster</p>
        <div class="btn-group" id="setClusterBtn" role="group" aria-label="Basic mixed styles example" >
          <button type="button" class="btn" style="background-color: #37A2DA;" (click)="changeCluster1($event)">1</button>
          <button type="button" class="btn" style="background-color: #e06343;" (click)="changeCluster2($event)">2</button>
          <button type="button" class="btn" style="background-color: #37a354;" (click)="changeCluster3($event)">3</button>
          <button type="button" class="btn" style="background-color: #b55dba;" (click)="changeCluster4($event)">4</button>
        </div>        
        <!-- <div class="col col-md-3">
          <button type="button" class="btn btn-outline-primary" style="color: red;background-color: black;" (click)="changeCluster1($event)">Set cluster 1 </button>
        </div>
        <div class="col col-md-3">
          <button type="button" class="btn" (click)="changeCluster2($event)">Set cluster 2 </button>
        </div>
        <div class="col col-md-3">
          <button type="button" class="btn" (click)="changeCluster3($event)">Set cluster 3 </button>
        </div>
        <div class="col col-md-3">
          <button type="button" class="btn" (click)="changeCluster4($event)">Set cluster 4 </button>
        </div> -->

        <div class="col col-md-12" style="padding-top: 600px;">
          <button type="button" class="btn btn-outline-success" (click)="exportCSV()">Export csv </button>
        </div>
      </div>
    </div>
    
  </div>
</div>





<!-- <div class="card">
  <div class="card-body">
  <div class="col com-md-4">
    <div class="table-panel">
      <table class="table table-striped">
        <thead style="position: sticky; top: 0; background-color: white;">
          <tr>
            <th class="table-padding">Well</th>
            <th class="table-padding">Name</th>
            <th class="table-padding">Concentration</th>
            <th class="table-padding">FAM</th>
            <th class="table-padding">HEX</th>
            <th class="table-padding">ROX</th>
          </tr>
        </thead>
        <tbody style="padding-top:10%">
          <tr *ngFor="let item of sameCpdLst" :key="index">
            <td class="table-padding">{{ item.plateChildFk.row}}{{ item.plateChildFk.column}}</td>
            <td class="table-padding">{{ item.liquidFk.liquidCategoryFk.name}}</td>
            <td class="table-padding">{{ item.liquidFk.concentration}}</td>
            <td class="table-padding">{{ item.liquidFk.fam}}</td>
            <td class="table-padding">{{ item.liquidFk.hex}}</td>
            <td class="table-padding">{{ item.liquidFk.rox}}</td>

          </tr>
        </tbody>
      </table>

    </div>
  </div>
  </div>
</div> -->



<!-- Plate table list -->
<div class="card">
  <div class="card-body">
    <ngx-datatable [rows]="liquidPositions.items" [count]="liquidPositions.totalCount" [list]="list" default>
      <ngx-datatable-column [name]="'::Plate' | abpLocalization"
        prop="plateChildFk.plateFk.name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Row' | abpLocalization" prop="plateChildFk.row"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::Column' | abpLocalization" prop="plateChildFk.column"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::LiquidName' | abpLocalization"
        prop="liquidFk.liquidCategoryFk.name"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::FAM' | abpLocalization" prop="liquidFk.fam"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::HEX' | abpLocalization" prop="liquidFk.hex"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::ROX' | abpLocalization" prop="liquidFk.rox"></ngx-datatable-column>
      <!-- <ngx-datatable-column [name]="'::Result' | abpLocalization" prop="liquidFk.result" ></ngx-datatable-column> -->
      <!-- <ngx-datatable-column [name]="'::Column' | abpLocalization" prop="plateChildFk.column" ></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Plate' | abpLocalization" prop="plateChildId" ></ngx-datatable-column> -->

    </ngx-datatable>

  </div>
</div>
