<abp-page [title]="'::Menu:Home' | abpLocalization">
  <div class="card">
    <div class="card-header">{{ '::Welcome' | abpLocalization }}</div>
    <div class="card-body">
      <p>
        Revvity PASS
      </p>
      @if(!hasLoggedIn){
        <h3>Welcome</h3>
        <p class="lead text-muted mb-2">
          {{ '::LongWelcomeMessage' | abpLocalization }}
        </p>
        <a (click)="login()" class="px-4 btn btn-primary mb-4" role="button">
          <i class="fa fa-sign-in"></i>
          {{ 'AbpAccount::Login' | abpLocalization }}
        </a>
        }
    </div>
  </div>

</abp-page>

